<app-header />

<div class="flex space-x-4 mt-5 px-4 ">
  <!--barra de las categorias-->
  
  <div class="bg-gray-200 w-40 h-full ">
    <h2 class="text-center bg-black text-white">CATEGORIAS</h2>
    <ul>
      <li>
        <a routerLink="/">All</a>
      </li>
      <li *ngFor="let category of categories()">
        <a  routerLink="/" [queryParams]="{category_id: category.id}" class=" hover:bg-sky-200">{{category.name}}</a>
      </li>
    </ul>
  </div>

  <!--la lista de productos de la API-->
  <div class="grid grid-cols-5 gap-5 w-full">
    <app-product *ngFor="let prod of products()" [product]="prod" (addtoCart)="addtoCart($event)" />
  </div>

</div>